{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 33.78590665669923,
        "longitude": -84.41126883029939,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Cottonwood",
        "time_zone": "America/New_York",
        "external_url": null,
        "internal_url": null
    }
}